<table class="table table-bordered">
  <thead>
    <th></th>
    <th></th>
    <th>Name</th>
    <th>Ship</th>
  </thead>
  <tbody>
  <% commanders.each(function(commander) { %>
  <tr <%= commander %>>
    <td class="vote">
      <a href="javascript://" class="up">Up</a>
      <%= commander.attr('upvotes') - commander.attr('downvotes') %>
      <a href="javascript://" class="down">Down</a>
    </td>
    <td><img src="/images/<%= commander.attr('photo') %>"/></td>
    <td><%= commander.attr('name') %></td>
    <td><%= commander.attr('ship') %></td>
  </tr>
  <% }) %>
  </tbody>
</table>