<h2>Your Favorites</h2>
<div class="well favorites">
  <ul class="nav nav-pills">
  <% can.each(favorites, function(fav) { %>
    <li>
      <span class="badge badge-info">
        <%= fav.attr('name') %> (<strong><%= fav.votes() %></strong>)
      </span>
    </li>
  <% }) %>
  </ul>
</div>

<table class="table table-bordered">
  <thead>
    <th></th>
    <th>Points</th>
    <th>Looks</th>
    <th>Name</th>
    <th>Ship</th>
    <th></th>
  </thead>
  <tbody>
  <% can.each(commanders, function(commander) { %>
  <tr <%= commander %>>
    <td class="buttons">
      <a href="javascript://" class="up"></a>
      <a href="javascript://" class="down"></a>
    </td>
    <td class="vote">
      <span class="<%= commander.votes() > 0 ? 'green' : 'red' %> toggle"><%= commander.votes() %></span>
      <div class="toggle" style="display: none;">
        <span class="green"><%= commander.attr('upvotes') %></span><br />
        <span class="red"><%= commander.attr('downvotes') %></span>
      </div>
    </td>
    <td class="photo">
      <img src="/images/<%= commander.attr('photo') %>"/>
    </td>
    <td class="large"><%= commander.attr('name') %></td>
    <td class="large"><%= commander.attr('ship') %></td>
    <td class="actions">
      <% if(favorites.indexOf(commander) == -1) { %>
        <a href="javascript://" class="favorite"></a>
      <% } %>
      <a href="javascript://" class="delete"></a>
    </td>
  </tr>
  <% }) %>
  </tbody>
</table>
