<table class="table table-bordered">
  <thead>
    <th></th>
    <th></th>
    <th>Name</th>
    <th>Ship</th>
  </thead>
  <tbody>
  <% commanders.each(function(commander) { %>
  <tr <%= commander %>>
    <td class="vote <%= commander.attr('upvotes') - commander.attr('downvotes') > 0 ? 'green' : 'red' %>">
      <%= commander.attr('upvotes') - commander.attr('downvotes') %>
    </td>
    <td class="photo">
      <a href="javascript://" class="up"></a>
      <a href="javascript://" class="down"></a>
      <img src="/images/<%= commander.attr('photo') %>"/>
    </td>
    <td><%= commander.attr('name') %></td>
    <td><%= commander.attr('ship') %></td>
  </tr>
  <% }) %>
  </tbody>
</table>