<h2>Your Favs</h2>
<div class="well">
  <% favorites.each(function(fav) { %>
    <span class="alert alert-info"><%= fav.attr('name') %> (<strong><%= fav.votes() %></strong>)</span>
  <% }) %>
</div>

<table class="table table-bordered">
  <thead>
    <th>Points</th>
    <th>Vote</th>
    <th>Pic</th>
    <th>Name</th>
    <th>Ship</th>
    <th></th>
  </thead>
  <tbody>
  <% commanders.each(function(commander) { %>
  <tr <%= commander %>>
    <td class="vote">
      <span class="<%= commander.votes() > 0 ? 'green' : 'red' %> toggle"><%= commander.votes() %></span>
      <div class="toggle" style="display: none;">
        <span class="green"><%= commander.attr('upvotes') %></span><br />
        <span class="red"><%= commander.attr('downvotes') %></span>
      </div>
    </td>
    <td class="buttons">
      <a href="javascript://" class="up"></a>
      <a href="javascript://" class="down"></a>
    </td>
    <td class="photo">
      <img src="/images/<%= commander.attr('photo') %>"/>
    </td>
    <td class="large"><%= commander.attr('name') %></td>
    <td class="large"><%= commander.attr('ship') %></td>
    <td class="actions">
      <a href="javascript://" class="favorite"></a>
      <a href="javascript://" class="delete"></a>
    </td>
  </tr>
  <% }) %>
  </tbody>
</table>